$primary-color-1: hsl(322, 100%, 66%);

$neutral-color-1: hsl(193, 100%, 96%);
$neutral-color-2: hsl(192, 100%, 9%);
$neutral-color-3: hsl(208, 11%, 55%);

$font-size-body: 1.125rem;

$font-headings: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;
