.huddle__introductory {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  // text-align: center;
  place-items: center;
  column-gap: 10rem;
  padding: 1.25rem;

  @media only screen and (min-width: 1024px) {
    padding: 0;
    // width: 90%;
    // margin: 0 auto;
  }
}
