// TODO desktop design

.huddle__main {
  padding: 1rem;
  margin-bottom: 1rem;

  @media only screen and (min-width: 1024px) {
    width: 80%;
    margin: 0 auto;
  }
}

.huddle__hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &--illustration {
    width: 90%;

    @media only screen and (min-width: 1024px) {
      width: 30%;
    }
  }

  &--features {
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    // place-items: center;
    // justify-content: center;
    // align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 5rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #fff;
    padding: 4rem 1rem;

    @media only screen and (min-width: 1024px) {
      text-align: start;
    }
  }
}

.--flex-reverse {
  @media only screen and (min-width: 1024px) {
    flex-direction: row-reverse;
  }
}
