.btn {
  border-radius: 100px;
  font-family: $font-body;
  box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 0.15);
  &--try-it {
    color: $neutral-color-2;
    font-weight: 700;
    font-size: 0.6rem;
    padding: 0.25rem 1rem;
    background-color: #fff;
  }

  &--get-started {
    background-color: $primary-color-1;
    color: $neutral-color-1;
    padding: 0.85rem 4rem;
    font-size: 0.8rem;

    &-introductory {
      display: inline-block;
      margin-bottom: 5rem;
    }
  }

  &--cta {
    padding: 0.85rem 3rem;
  }
}
