.huddle__cta {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  border-radius: 12px;
  z-index: 1;
  transform: translateY(50%);
}
