.huddle__cta {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 2.5rem 0.8rem;
  margin: 0 1rem;
  border-radius: 12px;
  top: 2056px;
  left: 0px;
  z-index: 1;
}
