.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 0.5rem;

    svg {
      width: 1rem;
      height: 1rem;
      fill: #fff;
    }
  }
}
