.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;

  @media only screen and (min-width: 1024px) {
    margin-bottom: 9rem;
    margin-right: auto;
  }

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 0.5rem;
    transition: all 0.2s;

    &:hover {
      border: 1px solid $primary-color-1;
    }

    &:hover svg {
      fill: $primary-color-1;
    }
  }

  svg {
    width: 1rem;
    height: 1rem;
    fill: #fff;
  }
}
