.heading {
  color: $neutral-color-2;
  font-family: $font-headings;

  &--main {
    margin-bottom: 2rem;
    font-weight: 600;
  }

  &--sub {
    margin-bottom: 1rem;
  }
  &--tertiary {
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
  }
}

.huddle__message {
  font-family: $font-body;

  &--introductory {
    margin-bottom: 2rem;
    color: $neutral-color-2;
  }

  &--hero {
    color: $neutral-color-3;
    width: 31ch;
  }
}
