.heading {
  color: $neutral-color-2;
  font-family: $font-headings;

  &--main {
    margin-bottom: 2rem;

    @media only screen and (min-width: 1024px) {
      font-size: 3.5rem;
      width: 20ch;
    }
  }

  &--sub {
    margin-bottom: 1rem;
  }
  &--tertiary {
    margin-bottom: 1.25rem;
    font-size: 1.125rem;
  }
}

.huddle__message {
  font-family: $font-body;

  &--introductory {
    margin-bottom: 2rem;
    color: $neutral-color-2;

    @media only screen and (min-width: 1024px) {
      font-size: $font-size-body;
    }
  }

  &--hero {
    color: $neutral-color-3;
    width: 31ch;

    @media only screen and (min-width: 1024px) {
      width: 50ch;
    }
  }
}
