body {
  padding: 1rem;
}

.huddle__introductory-bg {
  background-image: url('../../images/bg-hero-mobile.svg');
  background-color: $neutral-color-1;
  background-repeat: no-repeat;
  background-position: center;
}
