.huddle__introductory-bg {
  background: url('../../images/bg-hero-mobile.svg'), $neutral-color-1;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
  margin-bottom: 5rem;
}
